body {
    font-family: 'Encode Sans Condensed', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin-top: 100px;
    max-width: 1200px;
    background-color: #ffffff;
    border-radius: 8px;
}

.cart-summary,
.ShippingSection {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-summary h2,
.shipping-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #333;
}

.cart-details-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-details-table th,
.cart-details-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.cart-details-table th {
    background-color: #f4f4f9;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.btn {
    display: inline-block;
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

#checkout-button {
    width: 100%;
    font-size: 18px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
