body {
    background: #ffffff;
    font-family: 'Encode Sans Condensed';
    overflow-x: hidden;
}


/* collection banners */

.collection-container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    background-color: rgb(0, 0, 0);
    height: 20vh; 
    padding: 0; 

}

.collection-container p  {
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 0; 
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.filter-container {
  position: relative;
}

#filter-button {
  display: none;
}

#filters {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

#filters.open {
  transform: translateX(0);
}

#close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.catName {
  background-color: black;
  text-align: center;
  padding: 10px 0;
  width: 1500px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catName h2 {
  color: white;
  margin: 0;
}
