.ContentSection{
    margin-top: 140px;
}
.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.catName {
    background-color: black;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .catName h2 {
    color: white;
  }
.products-container>div {
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .products-container {
        grid-template-columns: 1fr;
    }
}